
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/nvoi/merchant/indexjsgrid.js")"></script>
}

<h2>Index</h2>

<div id="jsGrid"></div>
<br/>
<button type="button" class="btn btn-info">Info</button>



